<nav class="nav">
  <section class="nav-title" routerLink="">
    <div class="nav-logo" >
      <img class="nav-logo__img" src="../../../assets/images/book.png" alt="logo">
    </div>
    <h1>BLIBRERIA</h1>
  </section>
  <section class="nav-list">
    <div class="nav-item">
      <a routerLink="/books" routerLinkActive="nav-item--active">MY COLLECTION</a>
    </div>
    <div class="nav-item">
      <a routerLink="/search" routerLinkActive="nav-item--active">SEARCH BOOK</a>
    </div>
  </section>
</nav>
