.nav {
  width: 100wv;
  background-color: rgb(0, 0, 48);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
  }

  &-logo {
    width: 70px;
    margin: 1rem 2rem;
    &__img {
      width: 100%;
      object-fit: contain;
    }
  }

  &-list {
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  &-item {
    width: 33%;
    text-align: center;
    a {
      color:white;
      border: 1px solid white;
      border-radius: 5px;
      padding: 0.5rem 1rem;
    }

    &:hover {
      font-weight: 700;
      font-size: 1.2rem;
      cursor: pointer;
      a {color: rgb(138, 229, 229);}
    }
    
    &--active{
      font-weight: 700;
      font-size: 1.2rem;
      width: 100%;
      background-color: rgb(41, 102, 102);
    }
  }

}